html,body{
    height:100%;
    padding:0;
    margin:0;
  }
  *{
    box-sizing:border-box;
  }
  .box{
    position: relative;
    width:100%;
    height:650px;
    background-color:grey;
  }
  
  .container{
    padding:4px;
    width:100%;
    height:100%;
    background-color:#ccc;
    
    display:flex;
    justify-content:start;
    align-items:center;
    
  }
  
  .casilla {
    position: absolute;
   
  }
  
  .puchero {
    margin: 0;
    position: absolute;
    left: 350.813px;
    top: 280.442px;
  }
  
  #bote{
    margin: 0;
    position: absolute;
      left: 320.813px;
      top: 410.442px;

  }
  
  