html,body{
    height:100%;
    padding:0;
    margin:0;
  }
  *{
    box-sizing:border-box;
  }
  .box{
    position: relative;
    width:100%;
    height:650px;
    background-color:rgb(73, 167, 107);
  }
  .bg{
    background-color: rgb(73, 120, 201);
  }
  .container{
    padding:4px;
    width:100%;
    height:100%;
    background-color:#ccc;
    
    display:flex;
    justify-content:start;
    align-items:center;
    
  }
  
  .casilla {
    position: absolute;
    width: 234px;
    height: 130px;
   
  }
  
  .puchero {
    margin: 0;
    position: absolute;
    left: 294.813px;
    top: 270.442px;
    width: 234px;
    height: 130px;
  }
  
  #bote{
    margin: 0;
    position: absolute;
      left: 333.813px;
      top: 393.442px;
      width:155px;
      height: 50px;

  }
  .boton{
    background: transparent;
    border: 1px solid white;
    border-radius: 6px;
    
    color: rgb(255, 255, 255);
    padding: 1px 41px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: solid;

  }
  .boton:hover {
    background-color: #fff308;
    color: rgb(0, 0, 255);
  }

  .boton2{
    background: transparent;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 6px;
    
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: solid;

  }
  .boton2:hover {
    background-color: #a3a3a0;
    color: rgb(255, 255, 255);
  }
  @media (max-width: 1069px) { /*para tamaños medianos*/

    .box{
      position: relative;
      width:100%;
      height:650px;

    }

    .puchero {
      margin: 0;
      position: absolute;
      left: 230.82px;
      top: 237.442px;
    }

    #bote{
      margin: 0;
      position: absolute;
        left: 274.82px;
        top: 366.442px;
    }
  }

  @media (max-width: 991px) { /*para tamaños medianos*/

    .box{
      position: relative;
      width:100%;
      height:1000px;

    }

    .puchero {
      margin: 0;
      position: absolute;
      left: 386.82px;
      top: 551.442px;
    }

    #bote{
      margin: 0;
      position: absolute;
        left: 424.82px;
        top: 680.442px;
    }
  }
  
  @media (max-width: 925px) { /*para tamaños medianos*/

    .box{
      position: relative;
      width:100%;
      height:1000px;

    }

    .puchero {
      margin: 0;
      position: absolute;
      left: 321.82px;
      top: 561.442px;
    }

    #bote{
      margin: 0;
      position: absolute;
        left: 358.82px;
        top: 687.442px;
    }
  }
  
  @media (max-width: 875px) { /*para tamaños medianos*/

    .box{
      position: relative;
      width:100%;
      height:1000px;

    }

    .puchero {
      margin: 0;
      position: absolute;
      left: 265.82px;
      top: 552.442px;
    }

    #bote{
      margin: 0;
      position: absolute;
        left: 309.82px;
        top: 681.442px;
    }
  }
  @media (max-width: 805px) { /*para tamaños medianos*/

    .box{
      position: relative;
      width:100%;
      height:1000px;

    }

    .puchero {
      margin: 0;
      position: absolute;
      left: 220.82px;
      top: 549.442px;
    }

    #bote{
      margin: 0;
      position: absolute;
        left: 265.82px;
        top: 675.442px;
    }
  }
  @media (max-width: 774px) { /* para tamaños pequeños de pantalla  */

    .casilla {
      position: absolute;
      width: 194px;
      height: 92px;
     
    }
    
    .puchero {
      margin: 0;
      position: absolute;
      left: 263.82px;
      top: 553.442px;
      width: 194px;
      height: 92px;
    }

    #bote{
      margin: 0;
      position: absolute;
        left: 313.82px;
        top: 645.442px;
        width:101px;
        height: 50px;
  
    }
  }

  @media (max-width: 664px) { /* para tamaños pequeños de pantalla  */

    .casilla {
      position: absolute;
      width: 194px;
      height: 92px;
     
    }
    
    .puchero {
      margin: 0;
      position: absolute;
      left: 167.82px;
      top: 565.442px;
      width: 194px;
      height: 92px;
    }

    #bote{
      margin: 0;
      position: absolute;
        left: 214.82px;
        top: 656.442px;
        width:101px;
        height: 50px;
  
    }
  }
  @media (max-width: 576px) { /* para tamaños pequeños de pantalla  */

    .puchero {
      margin: 0;
      position: absolute;
      left: 149.82px;
      top: 615.442px;
    }


    #bote{
      margin: 0;
      position: absolute;
        left: 198.82px;
        top: 704.442px;
    }

  }


  @media (max-width: 504px) { /* para tamaños pequeños de pantalla  */

    .puchero {
      margin: 0;
      position: absolute;
      left: 110.82px;
      top: 617.442px;
    }


    #bote{
      margin: 0;
      position: absolute;
        left: 157.82px;
        top: 705.442px;
    }

  }
  

 @media (max-width: 465px) { /* para tamaños muy pequeños de pantalla  */
      
    .casilla {
      position: absolute;
      width: 166px;
      height: 82px;
     
    }

    .puchero {
      margin: 0;
      position: absolute;
      left: 100.82px;
      top: 608.442px;
      width: 166px;
      height: 82px;
    }

    #bote{
      margin: 0;
      position: absolute;
        left: 135.82px;
        top: 686.442px;
        width:101px;
        height: 50px;
  
    }

  }
  @media (max-width: 444px) { /* para tamaños muy pequeños de pantalla  */
      
    .puchero {
      margin: 0;
      position: absolute;
      left: 100.82px;
      top: 646.442px;
      width: 166px;
      height: 82px;
    }

    #bote{
      margin: 0;
      position: absolute;
        left: 135.82px;
        top: 721.442px;
        width:101px;
        height: 50px;
    }

  }

  @media (max-width: 397px) { /* para tamaños muy muy pequeños de pantalla  */
      
    .casilla {
      position: absolute;
      width: 155px;
      height: 74px;
    }

    .puchero {
      margin: 0;
      position: absolute;
      left:64.82px;
      width: 155px;
      height: 74px;
    }
    #bote{
      left:92.82px;
    }
  }

  @media (max-width: 327px) { /* para tamaños muy muy pequeños de pantalla  */
      
    .casilla {
      position: absolute;
      width: 138px;
      height: 74px;
    }

    .puchero {
      margin: 0;
      position: absolute;
      left: 71.82px;
      width: 138px;
      height: 74px;
    }
    #bote{
      left: 93.82px;
    }

  }